<%- include("header") -%>
    <h1>this is the about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, eligendi nostrum sequi dolores ex magnam illum nulla aliquam hic dicta temporibus nisi natus, atque voluptate? Quibusdam odio, animi rerum id quae natus ut quam nemo tempora ipsa! Consequuntur ut aliquam obcaecati laboriosam placeat, dolorem tenetur maiores qui totam non pariatur velit, ad numquam explicabo corporis quas id magni voluptatibus tempore.</p>
<%- include("footer") -%>
